<a href="https://colab.research.google.com/github/lleennaaii/lena/blob/main/lena(461007262)_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Welcome to Python Programming!")

Welcome to Python Programming!

In [ ]:
print("My Name : Lena \nCourse name : Advanced Programming Methods")

My Name : Lena
Course name : Advanced Programming Methods

In [ ]:
Student_name = "Alice"
age = 20
gpa = 3.75
supjects = ["Math","Python","Physics"]
student_info = {"id": 101, "year": 2}
skills = {"Python","SQL"}
is_enrolled = True
graduation_date = None

print("Student Name :",Student_name , "-type :",type(Student_name))
print("Age :",age , "-type :",type(age))
print("gpa :",gpa , "-type :",type(gpa))
print("supjects :",supjects , "-type :",type(supjects))
print("Student Info :",student_info , "-type :",type(student_info))
print("Skills :",skills , "-type :",type(skills))
print("is enrolled:",is_enrolled , "-type :",type(is_enrolled))
print("Graduation Date :",graduation_date , "-type :",type(graduation_date))

Student Name : Alice -type : <class 'str'>
Age : 20 -type : <class 'int'>
gpa : 3.75 -type : <class 'float'>
supjects : ['Math', 'Python', 'Physics'] -type : <class 'list'>
Student Info : {'id': 101, 'year': 2} -type : <class 'dict'>
Skills : {'SQL', 'Python'} -type : <class 'set'>
is enrolled: True -type : <class 'bool'>
Graduation Date : None -type : <class 'NoneType'>